<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @bug_assignment.timestamp %>
</p>

<%= link_to 'Edit', edit_bug_assignment_path(@bug_assignment) %> |
<%= link_to 'Back', bug_assignments_path %>
