<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @bug_resolution.timestamp %>
</p>

<%= link_to 'Edit', edit_bug_resolution_path(@bug_resolution) %> |
<%= link_to 'Back', bug_resolutions_path %>
