<h2>Bug Hunt</h2>
<link rel="stylesheet" type="text/css" href="/assets/application.css">
stylesheet_link_tag "random.styles", "/css/stylish"
<p>
  Viewing Bugs At: <%= Time.now %>
</p>


<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/hunts">Bug Hunts</a></li>
  <li><a href="/companies">Companies</a></li>
  <li><a href = "/bugs">Bugs</a> </li>
  <li><a href = "/signup">Sign Up</a></li>
  <li><a href = "/login">Login</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">
<h1>Bug Hunt Game </h1>
<h2>Fix Bugs...
<h2> <big>Get Points!</big></h2>

<p> Earn Team Respect</p>

<p> Keep track of issues</p>

<p> Stay up to date with Github</p>

</div>
