<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @bug_creation.timestamp %>
</p>

<%= link_to 'Edit', edit_bug_creation_path(@bug_creation) %> |
<%= link_to 'Back', bug_creations_path %>
